<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Assignments!</p>
    <p>My favorite assignment was the midterm project.</p>
    <p>I enjoyed this project because we got to edit images. It was really rewarding
    <br>to see the images flip or become black and white and to know the actual coding
    <br>that goes into doing these types of edits. I have edited photos on my phone 
    <br>before but never knew how it all works. I also thought it was interesting
    <br>how the images were just text files with numbers and that we could apply
    <br>methods that we learned to use on lists to images. It also just felt really 
    <br>rewarding to be able to go from nothing (no skeleton code) to an entire
    <br>functioning code, and then to see it working successfully on the images.
    </p>
    </body>
</html>