<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p><b>Second Semester Classes!</b></p>
    <ul>
      <li>General Chemistry II</li>
      <li>Physics 1402</li>
      <li>Intro to Computer Science</li>
      <li>University Writing</li>
      <li>Ordinary Differential Equations</li>
    </ul>
    <p>My favorite class this semester was Ordinary Differential Equations. I
    <br>enjoyed this class because I generally like math, and I liked learning
    <br>the different methods used to solve them. I found it interesting and
    <br>challenging but not too difficult that it was stressful.
    </p>
    </body>
</html>